---
import Layout from "../layouts/Layout.astro";
import FeatureCard from "../components/FeatureCard.astro";
import Hero from "../components/Hero.astro";

import VendingMachingeImage from "../assets/images/vending-machine.jpg";
---

<Layout title="Welcome to Astro.">
  <Hero
    heading="Quisque sapien leo, volutpat luctus rutrum nec, placerat feugiat nulla."
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In suscipit nibh erat, id sollicitudin felis accumsan eu. In hac habitasse platea dictumst. Nullam et quam vel est molestie interdum. Ut pulvinar felis ut ultrices volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et luctus risus. Nunc ut mauris eu odio elementum dignissim."
    ctaText="Coming soon"
    image={VendingMachingeImage}
  />

  <section class="container grid md:grid-cols-3 gap-12">
    <FeatureCard
      title="Toy Speeder"
      body="Designs that drive conversions and deliver measurable results for businesses."
    />
    <FeatureCard
      title="Toy Speeder"
      body="Designs that drive conversions and deliver measurable results for businesses."
    />
    <FeatureCard
      title="Toy Speeder"
      body="Designs that drive conversions and deliver measurable results for businesses."
    />
  </section>
</Layout>
