---
import { Icon } from "astro-icon/components";

const FAQs: { question: string; answer: string }[] = [
  {
    question: "Šta ukoliko izgubim deo igračke?",
    answer:
      "Ako izgubite deo igračke Toy Speeders, kontaktirajte nas putem emaila toyspeeders@gmail.com.",
  },
  {
    question:
      "Šta raditi ako vending mašina ne izda Toy Speeders autić nakon uplate?",
    answer: "Kontaktirajte nas putem emaila toyspeeders@gmail.com.",
  },
  {
    question: "Kako mogu kontaktirati podršku za kupce?",
    answer:
      "Korisničku podršku možete kontaktirati putem emaila toyspeeders@gmail.com.",
  },
  {
    question: "Nisam dobio uputstvo za slaganje.",
    answer:
      "4. Ukoliko niste dobili uputstvo za korišćenje javite nam se putem mejla toyspeeders@gmail.com. U predelu subject navedite naziv proizvoda (naznačen na prednjoj strain kutije ispod starosnog ograničenja).",
  },
  {
    question: "Koja je preporucena starost za igru sa Toy Speeders auticima?",
    answer:
      "Preporučena starosna granica za bezbedno korišćenje Toy Speeders autića je za decu I osobe starije od 6 godina.",
  },
  {
    question: "Mogu li da kupim više igračaka odjednom?",
    answer:
      "Iz bezbednosnih razloga trenutno je moguće kupiti samo jedan proizvod po transakciji.",
  },
  {
    question: "Da li vending mašine primaju novac?",
    answer:
      "Toy Speeders vending mašine prihvataju kreditne, debitne kartice, kao i mobilne načine plaćanja.",
  },
  {
    question: "Gde mogu da skeniram račun?",
    answer:
      "Račun za Toy Speeders autiće možete skenirati na ekranu vending masine prilikom odobrene transakcije.",
  },
  {
    question: "Kada je dostupna kupovina?",
    answer:
      "Kupovina Toy Speeders autića je moguća 24/7 putem naših vending mašina, kao I online narudžbine koje možete izvršiti u bilo koje doba putem naše web Instagram stranice.",
  },

  {
    question: "Šta da radim ako vending masina nije u funkciji?",
    answer:
      "Ako Toy Speeders vending mašina trenutno nije u funkciji, molimo vas da prijavite problem putem broja telefona ili emaila navedenog na vending mašini.",
  },

  {
    question: "Mašina mi je izbacila pogrešan artikal?",
    answer:
      "Ako Toy Speeders vending mašina izda pogrešan artikal, kontaktirajte korisničku podršku sa informacijama o transakciji i pogrešnom artiklu za zamenu ili povrat.",
  },
  {
    question: "Da li su Toy Speeders autići bezbedni za decu?",
    answer:
      "Toy Speeders autići zadovoljavaju sve važeće sigurnosne standarde i propise za dečije igračke, uključujući CE certifikat.",
  },
  {
    question:
      "Da li Toy Speeders autići dolaze sa instrukcijama na više jezika?",
    answer:
      "Toy Speeders autići dolaze sa slikovitim uputstvom za upotrebu kako bi bilo što jednostavnije za upotrebu.",
  },
  {
    question: "Da li su Toy Speeders autići ekološki prihvatljivi?",
    answer:
      "Toy Speeders autići ispunjavaju ekološke standarde i napravljeni su od ekološki prihvatljivih materijala.",
  },
  {
    question:
      "Gde mogu pronaći informacije o najnovijim izdanjima Toy Speeders autića?",
    answer:
      "Najnovije informacije o izdanjima Toy Speeders autića možete pronaći na našim društvenim mrežama @toyspeeders.",
  },
  {
    question: "Da li mogu birati model autica u vending mašini?",
    answer:
      "U Toy Speeders vending mašinama možete odabrati specifičan model autića, u zavisnosti od dostupnosti.",
  },
  {
    question: "Koje sigurnosne standarde ispunjavaju Toy Speeders autići?",
    answer:
      "Toy Speeders autići ispunjavaju sve relevantne sigurnosne standarde i certifikate, uključujući CE certifikat.",
  },
  {
    question: "Šta ako je proizvod iz vending mašine oštećen?",
    answer:
      "Ako je Toy Speeders autić kupljen iz vending mašine oštećen, molimo vas da se obratite korisničkoj podršci sa slikom oštećenog proizvoda i računom za zamenu ili povrat.",
  },
];
---

<section id="faq" class="container flex flex-col gap-8 md:gap-12 mb-24">
  <h2 class="text-slate-800 text-3xl md:text-4xl font-bold">
    Često postavljena pitanja
  </h2>

  <dl>
    {
      FAQs.map((faq) => (
        <div class="accordion border-t">
          <dt>
            <button
              class="accordion__button group flex gap-4 text-left justify-between w-full items-center text-lg md:text-xl font-medium text-slate-800 py-6"
              type="button"
              aria-expanded="false"
            >
              {faq.question}

              <Icon
                name="chevron-down"
                class="accordion__chevron h-7 w-7 shrink-0 transition-transform group-aria-expanded:rotate-180"
              />
            </button>
          </dt>

          <dd class="accordion__content overflow-hidden max-h-0 transition-all duration-300 ease-in-out px-3">
            <p class="text-slate-600 mb-6">{faq.answer}</p>
          </dd>
        </div>
      ))
    }
  </dl>
</section>

<script>
  function accordionSetup() {
    const accordionMenus = document.querySelectorAll(
      ".accordion",
    ) as NodeListOf<HTMLElement>;

    accordionMenus.forEach((accordionMenu) => {
      const accordionButton = accordionMenu.querySelector(
        ".accordion__button",
      ) as HTMLElement;
      const accordionChevron = accordionMenu.querySelector(
        ".accordion__chevron",
      ) as HTMLElement;
      const accordionContent = accordionMenu.querySelector(
        ".accordion__content",
      ) as HTMLElement;

      if (accordionButton && accordionContent && accordionChevron) {
        accordionButton.addEventListener("click", () => {
          if (!accordionMenu.classList.contains("active")) {
            // if accordion is currently closed, so open it
            accordionMenu.classList.add("active");
            accordionButton.setAttribute("aria-expanded", "true");

            // set max-height to the height of the accordion content
            // this makes it animate properly
            accordionContent.classList.remove("hidden");
            accordionContent.style.maxHeight =
              accordionContent.scrollHeight + "px";
          } else {
            // accordion is currently open, so close it
            accordionMenu.classList.remove("active");
            accordionButton.setAttribute("aria-expanded", "false");

            // set max-height to the height of the accordion content
            // this makes it animate properly
            accordionContent.style.maxHeight = "0px";
          }
        });
      }
    });
  }

  accordionSetup();
</script>
