---
import { Icon } from "astro-icon/components";

const FAQs = [
  {
    question: "Da li su igračke na sklapanje prikladne za poklone?",
    answer:
      "Naše igračke na sklapanje predstavljaju idealan poklon za različite pogodnosti, poput rođendana, praznika ili za posebne prilike. One potiču kreativnost i maštu i idealan su poklon za ljubitelje automobila svih uzrasta.",
  },
  {
    question: "Šta se dešava ako izgubim delove igračke?",
    answer:
      "Ako izgubite deo vaše igračke na sklapanje, preporučujemo da se obratite nama. Zahvaljujući našem iskustvu, možda ćemo imati odgovarajući zamenski deo na zalihama.",
  },
  {
    question:
      "Da li sve igračke na sklapanje dolaze sa delovima potrebnim za montažu?",
    answer:
      "Da, sve naše igračke na sklapanje dolaze sa svim delovima potrebnim za montažu. Uvek proveravamo da li su svi delovi pravilno zapakovani i bezbedni za transport.",
  },
  {
    question: "Koliko su trajne igračke na sklapanje?",
    answer:
      "Uz odgovarajuću pažnju, naše igračke na sklapanje mogu trajati godinama. One su napravljene od visokokvalitetnih materijala i dizajnirane su da budu izdržljive.",
  },
  {
    question:
      "Da li svi modeli automobila na sklapanje imaju digitalna uputstva?",
    answer:
      "Svi modeli koje prodajemo dolaze sa kompletnim digitalnim uputstvom koje će olakšati proces sklapanja.",
  },
];
---

<section id="faq" class="container flex flex-col gap-8 md:gap-12 mb-24">
  <h2 class="text-slate-800 text-3xl md:text-4xl font-bold">
    Često postavljena pitanja
  </h2>

  <dl>
    {
      FAQs.map((faq) => (
        <div id="accordion" class="border-t">
          <dt>
            <button
              id="accordion__button"
              class="group flex gap-4 text-left justify-between w-full items-center text-lg md:text-xl font-medium text-slate-800 py-6"
              type="button"
              aria-expanded="false"
            >
              {faq.question}

              <Icon
                name="chevron-down"
                id="accordion__chevron"
                class="h-7 w-7 shrink-0 transition-transform group-aria-expanded:rotate-180"
              />
            </button>
          </dt>

          <dd
            id="accordion__content"
            class="overflow-hidden max-h-0 transition-all duration-300 ease-in-out px-3"
          >
            <p class="text-slate-600 mb-6">{faq.answer}</p>
          </dd>
        </div>
      ))
    }
  </dl>
</section>

<script>
  function accordionSetup() {
    const accordionMenus = document.querySelectorAll(
      "#accordion",
    ) as NodeListOf<HTMLElement>;

    accordionMenus.forEach((accordionMenu) => {
      const accordionButton = accordionMenu.querySelector(
        "#accordion__button",
      ) as HTMLElement;
      const accordionChevron = accordionMenu.querySelector(
        "#accordion__chevron",
      ) as HTMLElement;
      const accordionContent = accordionMenu.querySelector(
        "#accordion__content",
      ) as HTMLElement;

      if (accordionButton && accordionContent && accordionChevron) {
        accordionButton.addEventListener("click", () => {
          if (!accordionMenu.classList.contains("active")) {
            // if accordion is currently closed, so open it
            accordionMenu.classList.add("active");
            accordionButton.setAttribute("aria-expanded", "true");

            // set max-height to the height of the accordion content
            // this makes it animate properly
            accordionContent.classList.remove("hidden");
            accordionContent.style.maxHeight =
              accordionContent.scrollHeight + "px";
          } else {
            // accordion is currently open, so close it
            accordionMenu.classList.remove("active");
            accordionButton.setAttribute("aria-expanded", "false");

            // set max-height to the height of the accordion content
            // this makes it animate properly
            accordionContent.style.maxHeight = "0px";
          }
        });
      }
    });
  }

  accordionSetup();
</script>
