---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<article class="flex flex-col gap-2 bg-white py-4 px-6 rounded-lg">
  <h3 class="font-bold text-xl text-slate-800">{title}</h3>
  <p class="text-slate-600">{body}</p>
</article>
