---
import { Icon } from "astro-icon/components";

const FEATURES = [
  {
    title: "Digitalno uputstvo",
    description:
      "Naša digitalna rešenja omogućavaju korisnicima da brzo pregledaju jednostavne instrukcije sastavljanja.",
    icon: "file",
  },
  {
    title: "Preciznost izrade",
    description:
      "Svaki model automobila u našoj kolekciji je detaljno obrađen kako bi se osigurala maksimalna verodostojnost originala.",
    icon: "ruler",
  },
  {
    title: "Kontinuirano osvežavanje asortimana",
    description:
      "Redovno ažuriramo naš asortiman igracaka da bismo obuhvatili najnovije trendove i modele automobila.",
    icon: "refresh",
  },
  {
    title: "Bezbednost na prvom mestu",
    description:
      "Svi naši proizvodi su testirani i sigurni za upotrebu, čime pružamo igračku koja je pogodna za sve uzraste.",
    icon: "shield",
  },
  {
    title: "Raznovrsna ponuda",
    description:
      "U Toy Speeders-u imamo veliki asortiman modela automobila, od klasičnih i sportskih vozila pa do terenskih vozila.",
    icon: "car",
  },
  {
    title: "Dostupnost i podrška",
    description:
      "Uvek smo tu da odgovorimo na sva vaša pitanja i pomognemo vam u odabiru savršenih igračaka.",
    icon: "email",
  },
] as const;
---

<section id="features" class="mb-24 bg-slate-800 py-20">
  <div class="container flex flex-col gap-12">
    <!-- Features Section Heading -->
    <div class="flex flex-col gap-4 items-center">
      <span
        class="font-bold text-slate-800 uppercase bg-lime-400 py-2 px-4 rounded-full text-xs"
        >pogodnosti</span
      >
      <h2 class="text-3xl lg:text-5xl font-bold text-white text-center">
        Sve što dobijate sa Toy Speeders
      </h2>
      <p class="text-slate-300 text-lg lg:w-1/2 text-center">
        Naši atraktivni, kvalitetni automobili na sklapanje su pravi spoj zabave
        i izazova. Isprobajte vaše omiljene modele i dozvolite mašti da ode u
        beskraj!
      </p>
    </div>
    <!-- Feature Cards -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        FEATURES.map((feature) => (
          <article class="flex flex-col gap-4 md:p-6 rounded-xl lg:hover:bg-slate-700">
            <div class="w-10 h-10 bg-white rounded-lg shrink-0 flex items-center justify-center ring ring-lime-400">
              <Icon name={feature.icon} class="w-5 h-5 text-slate-800" />
            </div>
            <div>
              <h3 class="font-bold text-xl lg:text-2xl text-white">
                {feature.title}
              </h3>
              <p class="text-slate-300">{feature.description}</p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
