---
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();

const socialLinks = [
  {
    label: "Instagram",
    href: "https://www.instagram.com/toy_speeders",
    icon: "instagram",
  },
  {
    label: "TikTok",
    href: "https://www.tiktok.com/@toy_speeders",
    icon: "tiktok",
  },
];
---

<footer class="bg-slate-800 text-slate-200 py-6">
  <div class="container flex justify-between items-center">
    <div>
      <span class="text-lg">@ {year}</span>
      <a href="/" class="font-bold text-xl">Toy Speeders</a>
    </div>
    <div class="flex gap-4">
      {
        socialLinks.map((link) => (
          <a
            href={link.href}
            target="_blank"
            aria-label={`${link.label} - toy_speeders`}
          >
            <Icon name={link.icon} class="w-5 h-5 text-white" />
          </a>
        ))
      }
    </div>
  </div>
</footer>
