---
const navLinks = [
  {
    label: "O nama",
    href: "#about",
  },
  {
    label: "Pitanja",
    href: "#faq",
  },
  {
    label: "Lokacije",
    href: "#locations",
  },
] as const;
---

<header
  class="container flex justify-between py-4 border-b border-b-slate-300 mb-20"
>
  <h1 class="font-bold text-xl text-slate-800">Toy Speeders</h1>
  <nav class="flex gap-4">
    {
      navLinks.map((link) => (
        <a
          href={link.href}
          class="text-slate-600 hover:text-slate-800 hover:underline"
        >
          {link.label}
        </a>
      ))
    }
  </nav>
</header>
