---
import { Image } from "astro:assets";
import VendingMachingeImage from "../assets/images/vending-machine.jpg";
---

<main
  class="container flex flex-col-reverse md:flex-row items-center justify-between gap-12"
>
  <div class="flex flex-col items-start gap-8 md:w-1/2">
    <h2 class="font-bold text-5xl text-slate-600">
      Uz Toy Speeders istražite svet <span class="text-slate-800 underline"
        >auto industrije</span
      > u mini formatu
    </h2>
    <p class="text-lg text-slate-600">
      Naše igračke na sklapanje nisu samo zabava - one podstiču kreativnost i
      maštu. Izabrali smo široki asortiman modela koji su prilagodljivi svim
      uzrastima i veštinama.
    </p>
    <a
      class="px-10 py-4 bg-slate-800 text-lg hover:bg-slate-700 cursor-pointer text-white rounded-2xl"
      >Saznaj više</a
    >
  </div>
  <Image src={VendingMachingeImage} alt="Hero image" />
</main>
